* {
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
	font-family: 'SF Pro Display', sans-serif;
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

.header {
	background: #FA8C16;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 30px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 990px) {
	.header {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 100;
	}
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.header-nav {
	margin-right: auto;
	margin-left: 60px;
}

@media (max-width: 990px) {
	.header-nav {
		display: none;
	}
}

.header-menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 990px) {
	.header-menu {
		width: 90%;
		margin: auto;
	}
}

.header-menu-link {
	color: #FAFAFA;
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
	margin-right: 15px;
}

.input-group {
	position: relative;
	max-width: 237px;
	width: 60%;
	height: 32px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	overflow: hidden;
}

.search-input {
	width: 80%;
	height: 100%;
	border: none;
	font-size: 14px;
	line-height: 22px;
	padding-left: 12px;
}

.search-input::-moz-placeholder { color: #BFBFBF; }
.search-input::-webkit-input-placeholder { color: #BFBFBF; }
.search-input:-ms-input-placeholder { color: #BFBFBF; }
.search-input::-ms-input-placeholder { color: #BFBFBF; }
.search-input::placeholder { color: #BFBFBF }

.search-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: #FFFFFF;
	cursor: pointer;
}

.menu-toggle {
	display: none;
}

@media (max-width: 990px) {
	.menu-toggle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 30px;
		height: 20px;
		margin-left: 12px;
	}

	.menu-toggle span {
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
}

.content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

@media (max-width: 990px) {
	.content {
		margin-top: 94px;
		margin-bottom: 60px;
	}
}

.posts {
	width: 67%;
}

@media (max-width: 990px) {
	.posts {
		width: 100%;
	}
}

.post {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin-bottom: 30px;
}

.post-body{
	padding: 35px 35px 0;
}

.post-title {
	margin-top: 0;
	margin-bottom: 19px;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
}

.post-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #262626;
}

.post-text p {
	margin-bottom: 14px;
}

.tags {
	margin-bottom: 22px;
}

.tag {
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #BFBFBF;
	text-decoration: none;
	margin-right: 10px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	background: #FAFAFA;
	border-top: 1px solid #E8E8E8;
	padding: 13px 35px;
}

@media (max-width: 576px) {
	.post-footer {
		flex-direction: column;
	}
}

.post-buttons {
	display: flex;
	align-items: center;
}

.post-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	color: #8c8c8c;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	margin-right: 29px;
	cursor: pointer;
}

.post-footer .icon {
	fill: #8c8c8c;
}

.icon-like,
.icon-comment {
	margin-right: 6px;
}

.post-author {
	display: flex;
	align-items: center;
	text-align: right;
}

@media (max-width: 576px) {
	.post-author {
		margin-top: 15px;
	}
}

.author-about {
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
}

@media (max-width: 576px) {
	.author-about {
		order: 2;
		text-align: left;
	}
}

.author-username {
	display: block;
	color: #8C8C8C;
	text-decoration: none;
}

.post-time {
	color: #BFBFBF;
}

.author-link {
	margin-left: 9px;
}

.author-avatar {
	width: 34px;
	height: 34px;
	border-radius: 4px;
}

@media (max-width: 576px) {
	.author-avatar {
		margin-left: 0;
		margin-right: 10px;
	}
}

.sidebar {
	width: 31%;
}

@media (max-width: 990px) {
	.sidebar {
		position: fixed;
		top: 64px;
		right: 0;
		bottom: 0;
		max-width: 320px;
		width: 100%;
		height: calc(100% - 64px);
		background-color: #fff;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
		padding: 30px;
		transform: translateX(100%);
		transition: transform 0.2s;
		overflow-y: auto;
		z-index: 101;
	}

	.sidebar.visible {
		transform: translateX(0);
	}
}

/* **********************
		login-form
*********************** */

.login {
	align-items: center;
	justify-content: space-between;
	background: #FAFAFA;
	padding: 15px 25px;
	border: 1px solid #E8E8E8
}

.login-form {
	display: flex;
	flex-direction: column;
}

.login-title {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #595959;
	margin-bottom: 10px;
}

.login-input {
	display: block;
	background-color: #fff;
	border: 1px solid #e8e8e8;
	padding: 5px 15px;
	margin-bottom: 15px;
}

.login-forget {
	text-align: center;
	font-size: 12px;
	font-style: italic;
	text-decoration: none;
	color: #757575;
	margin-bottom: 10px;
}

.login-signin {
	background-color: #FA8C16;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 32px;
	cursor: pointer;
	margin-bottom: 15px;
	transition: filter 0.2s linear;
}

.login-signin:hover {
	filter: opacity(80%);
}

.login-signin:active {
	filter: brightness(85%);
}

.login-signup {
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	color: #FA8C16;
	margin-bottom: 10px;
}

/* **********************
			user
*********************** */

.user {
	background: #FAFAFA;
	padding: 15px 25px;
	border: 1px solid #E8E8E8
}

.user-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user-info {
	display: flex;
	align-items: center;
	text-decoration: none;
	margin-right: auto;
}

.user-avatar {
	border-radius: 50%;
	margin-right: 17px;
	object-fit: cover;
}

.user-name {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #595959;
}

.edit {
	margin-right: 10px;
}

.icon-edit,
.icon-exit {
	width: 20px;
	height: 20px;
	fill: #000;
}

/* **********************
	.edit-container
*********************** */

.edit-container {
	display: none;
}

.edit-container.visible {
	display: block;
}

.edit-title {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #595959;
	text-transform: uppercase;
}

.edit-label {
	display: block;
	text-align: center;
	color: #757575;
	margin-bottom: 15px;
}

.edit-input {
	display: block;
	width: 100%;
	padding: 5px 10px;
	margin-top: 5px;
}

.edit-username {

}

.edit-photo {

}

.edit-btn {
	width: 100%;
	background-color: #FA8C16;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 32px;
	cursor: pointer;
	margin-bottom: 15px;
	transition: filter 0.2s linear;
}

.edit-btn:hover {
	filter: opacity(80%);
}

.edit-btn:active {
	filter: brightness(85%);
}

/* **********************
		.sidebar-nav
*********************** */

.sidebar-nav {
	display: none;
	background: #fff;
}

.sidebar-menu {
	margin: 0;
	padding: 0;
	border: 1px solid #E8E8E8;
	border-top: none;
	list-style: none;
}

.sidebar-menu-link {
	display: inline-block;
	width: 100%;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.57;
	color: #595959;
	background-color: #fff;
	text-decoration: none;
	padding: 16px 48px;
}

.sidebar-menu-link:hover {
	background-color: #FFFBE6;
}

.sidebar-menu-link:active,
.sidebar-menu-link.active {
	background-color: #FFFBE6;
	border-right: 3px solid #FAAD14;
}

.button {
	background-color: #FAAD14;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	padding: 13px;
	cursor: pointer;
}

.button-new-post {
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.button-outline {
	background: #FFFFFF;
	border: 1px solid #FFC53D;
	border-radius: 4px;
	color: #FFC53D;
	padding: 13px 16px;
}

.button-outline .icon {
	width: 14px;
	height: 11px;
	fill: #FFC53D;
}

.icon-fire {
	width: 11px;
	height: 13px;
	fill: #fff;
	margin-right: 10px;
}

.card {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	margin-top: 20px;
}

.card-header {
	background: #FAFAFA;
	border-bottom: 1px solid #E8E8E8;
	padding: 23px 25px;
}

.card-title {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #595959;
}

.card-body {
	padding: 22px 25px 20px;
}

.card-body-title {
	margin: 0 0 10px;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #D48806;
	text-decoration: none;
}

.card-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.57;
	color: #262626;
	margin: 10px 0;
}

.promo {
	display: block;
	position: relative;
	width: 100%;
	height: 260px;
	background: #fff url("./../img/promo.jpg") no-repeat center / cover;
	border: 1px solid #E8E8E8;
	margin-top: 20px;
}

.promo::before {
	position: absolute;
	right: 0;
	top: 0;
	content: "Реклама";
	background: #C4C4C4;
	padding-right: 26px;
	padding-left: 26px;
	font-weight: normal;
	font-size: 12px;
	line-height: 1.67;
	color: #FFFFFF;
}

.add-post {
	display: flex;
	flex-direction: column;
}

.add-title,
.add-text {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	padding: 23px 30px;
	margin-bottom: 16px;
}

.add-text {
	min-height: 362px;
	resize: vertical;
}

@media (max-width: 676px) {
	.add-buttons {
		display: flex;
		flex-direction: column;
	}
}

.add-button {
	width: 100%;
	max-width: 370px;
	margin-right: 1%;
}

@media (max-width: 676px) {
	.add-button {
		width: 100%;
		max-width: 100%;
	}
}

.add-post .button-outline {
	margin-right: 12px;
}

@media (max-width: 676px) {
	.add-post .button-outline {
		margin-right: 0;
		margin-top: 10px;
	}
}
